/* Style for the main content container */
.main-content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.dashboard-box {
    display: flex;
    justify-content: space-between;
}

.dashboard-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-item p {
    font-size: 24px;
    font-weight: bold;
    color: #009688;
}


.dashboard-container {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 100px 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
}

.transaction-tables {
    flex: 1;
    background-color: #ffffff;
    color: #000;
}

@media (max-width: 768px) {
    .custom-table {
        font-size: 12px;
    }
}
