/*styling for the signup forms*/

#login-container, #signup-container {
    width: 300px;
    margin: 50px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#login-container h2, #signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#login-container form, #signup-container form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#login-container p, #signup-container p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    cursor: pointer;
}

/* Slide effect */
#signup-container.slide {
    transform: translateX(100%);
}