<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budget Tracker App{% endblock %}</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <link rel="stylesheet" href="static/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body data-theme="light">
    <div>
        <nav>
            <div class="logo">
                <img src="logo.png" alt="Budget Tracker Logo">
            </div>
            <ul class="navbar">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li><input type="text" placeholder="Search"></li>
            </ul>
        </nav>
        <div>
            <h1>Personal Budget Tracker</h1>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i> Overview</a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; 2023 Your Company Name. All Rights Reserved.
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Event listener for input in the expense amount field
            const expenseAmountInput = document.getElementById("expense-amount");
            const expenseError = document.getElementById("expense-error-message");
    
            expenseAmountInput.addEventListener("input", function () {
                const newAmount = parseFloat(expenseAmountInput.value);
                if (isNaN(newAmount) || newAmount <= 0) {
                    expenseError.textContent = "Invalid amount";
                    setTimeout(function () {
                        expenseError.textContent = "";
                    }, 500);
                } else {
                    expenseError.textContent = "";
                }
            });
    
            // Event listener for the "Add Expense" button
            const addExpenseButton = document.getElementById("add-expense-button");
            const expenseBtnError = document.getElementById("expense-error-message");
    
            addExpenseButton.addEventListener("click", function (event) {
                event.preventDefault();
                const expenseDate = document.getElementById("expense-date").value;
                const expenseDescription = document.getElementById("expense-description").value;
                const expenseCategory = document.getElementById("expense-category").value;
                const expenseAmount = parseFloat(document.getElementById("expense-amount").value);
    
                if (!expenseDate || !expenseDescription || !expenseCategory || isNaN(expenseAmount) || expenseAmount <= 0) {
                    expenseBtnError.textContent = "Please fill in all fields";
                    setTimeout(function () {
                        expenseBtnError.textContent = "";
                    }, 500);
                } else {
                    expenseBtnError.textContent = "";
                    $.ajax({
                        type: 'POST',
                        url: '/add_expense',
                        data: $('#expense-form').serialize(),
                        success: function (response) {
                            console.log(response);
                            $('#expense-form')[0].reset();
                            updateBalance();
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }
            });
    
            // Event listener for input in the income amount field
            const incomeAmountInput = document.getElementById("income-amount");
            const incomeError = document.getElementById("income-error-message");
    
            incomeAmountInput.addEventListener("input", function () {
                const newAmount = parseFloat(incomeAmountInput.value);
                if (isNaN(newAmount) || newAmount <= 0) {
                    incomeError.textContent = "Invalid amount";
                    setTimeout(function () {
                        incomeError.textContent = "";
                    }, 500);
                } else {
                    incomeError.textContent = "";
                }
            });
    
            // Event listener for the "Add Income" button
            const addIncomeButton = document.getElementById("add-income-button");
            const incomeBtnError = document.getElementById("income-error-message");
    
            addIncomeButton.addEventListener("click", function (event) {
                event.preventDefault();
                const incomeDate = document.getElementById("income-date").value;
                const incomeDescription = document.getElementById("income-description").value;
                const incomeAmount = parseFloat(document.getElementById("income-amount").value);
    
                if (!incomeDate || !incomeDescription || isNaN(incomeAmount) || incomeAmount <= 0) {
                    incomeBtnError.textContent = "Please fill in all fields";
                    setTimeout(function () {
                        incomeBtnError.textContent = "";
                    }, 500);
                } else {
                    incomeBtnError.textContent = "";
                    $.ajax({
                        type: 'POST',
                        url: '/add_income',
                        data: $('#income-form').serialize(),
                        success: function (response) {
                            console.log(response);
                            $('#income-form')[0].reset();
                            updateBalance();
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }
            });
    
            // Function to update the budget when the page loads
            function updateBudget() {
                const totalIncomeSpan = document.querySelector(".current-income-amount");
                const totalExpensesSpan = document.querySelector(".current-expense-amount");
                const remainingBalanceSpan = document.querySelector(".balance-amount");
    
                // Fetch transactions from the Flask API
                $.ajax({
                    type: 'GET',
                    url: '/get_transactions',
                    success: function (transactions) {
                        let totalIncome = 0;
                        let totalExpenses = 0;
    
                        transactions.forEach(transaction => {
                            if (transaction.type === 'income') {
                                totalIncome += transaction.amount;
                            } else if (transaction.type === 'expense') {
                                totalExpenses += transaction.amount;
                            }
                        });
                        const remainingBalance = totalIncome - totalExpenses;
    
                        // Updating the HTML elements
                        totalIncomeSpan.textContent = `$${totalIncome.toFixed(2)}`;
                        totalExpensesSpan.textContent = `$${totalExpenses.toFixed(2)}`;
                        remainingBalanceSpan.textContent = `$${remainingBalance.toFixed(2)}`;
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
    
            // Function to update balance when a new transaction is added
            function updateBalance() {
                updateBudget();
                updateCategoryExpenses();
            }
    
            // Call the updateBudget function when the page loads
            updateBalance();
        });
    
        // Fetch transactions from the Flask API
        function updateCategoryExpenses() {
            $.ajax({
                type: 'GET',
                url: '/get_transactions',
                success: function (transactions) {
                    let categoryExpenses = {
                        food: 0,
                        rent: 0,
                        transport: 0,
                        loan: 0,
                        entertainment: 0
                    };
                    transactions.forEach(transaction => {
                        if (transaction.type === 'expense') {
                            const category = transaction.category;
                            categoryExpenses[category] += transaction.amount;
                        }
                    });
                    // Update the category-wise expenses in the table
                    for (const category in categoryExpenses) {
                        if (categoryExpenses.hasOwnProperty(category)) {
                            const categoryAmountElement = document.getElementById(`${category}-expense`);
                            categoryAmountElement.textContent = `$${categoryExpenses[category].toFixed(2)}`;
                        }
                    }
                    checkExpenseLimits(categoryExpenses);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script> 
</body>
</html>