{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="dashboard-box">
        <div class="dashboard-item">
            <h2>Remaining Balance</h2>
            <p class="balance">$5,000.00</p>
        </div>
        <div class="dashboard-item">
            <h2>Current Income</h2>
            <p class="current-income-amount">$2,000.00</p>
        </div>
        <div class="dashboard-item">
            <h2>Current Expenses</h2>
            <p class="current-expense-amount">$3,000.00</p>
        </div>
    </div>
</div>
<div class="dashboard-container">
    <nav class="sidebar">
        <ul>
            <li>
                <a href="/dashboard/view_transactions"><i class="fas fa-history"></i> Transaction History</a>
            </li>
            <li>
                <a href="#" id="reports-link"><i class="fas fa-lightbulb"></i> Reports or Insights</a>
            </li>
            <li>
                <a href="#" id="logout-link"><i class="fas fa-sign-out-alt"></i> Logout/Account Management</a>
            </li>
            <li>
                <a href="#" id="settings-link"><i class="fas fa-cog"></i> Settings and Preferences</a>
            </li>
        </ul>
    </nav>
    <div class="transaction-tables" style="display: none;"></div>  {# Container for transaction tables #}
</div>
</div>
{% endblock %}
