<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/login.css">
</head>
<body class="login-forms">
    <div id="login-container">
        <h2 class="login-header">Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" class="custom-username" placeholder="Username" required>
            <input type="password" name="password" class="custom-password" placeholder="Password" required>
            <button type="submit" class="custom-login-button">Login</button>
        </form>
        <p>Don't have an account? <a href="javascript:void(0);" id="show-signup">Sign Up</a></p>
    </div>

    <div id="signup-container" style="display: none;">
        <h2 class="login-header">Sign Up</h2>
        <form action="/signup" method="POST">
            <input type="text" name="full_name" class="custom-fullname" placeholder="Full Name" required>
            <input type="email" name="email" class="custom-email" placeholder="Email" required>
            <input type="text" name="username" class="custom-username" placeholder="Username" required>
            <input type="password" name="password" class="custom-password" placeholder="Password" required>
            <input type="password" name="confirm_password" class="custom-confirm-password" placeholder="Confirm Password" required>
            <button type="submit" class="custom-signup-button">Sign Up</button>
        </form>
        <p>Already have an account? <a href="javascript:void(0);" id="show-login">Login</a></p>
    </div>

    <script>
        // Toggling between login and signup forms
        const loginContainer = document.getElementById("login-container");
        const signupContainer = document.getElementById("signup-container");

        const showLoginLink = document.getElementById("show-login");
        const showSignupLink = document.getElementById("show-signup");

        showLoginLink.addEventListener("click", () => {
            loginContainer.style.display = "block";
            signupContainer.style.display = "none";
        });

        showSignupLink.addEventListener("click", () => {
            loginContainer.style.display = "none";
            signupContainer.style.display = "block";
        });
    </script>
</body>
</html>
